#root .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background: #62829e;
    border-color: #62829e;
}

#root .btn-primary:hover {
    background: #fff;
    color: #62829e;
    border-color: #62829e;
}

#root .btn-primary:focus {
    background: #fff;
    color: #62829e;
    border-color: #62829e;
    box-shadow: 0 0 0 0.25rem rgb(98 130 158 / 50%);
}

#root .btn-primary:active {
    background: #fff;
    color: #62829e;
    border-color: #62829e;
    box-shadow: 0 0 0 0.25rem rgb(98 130 158 / 50%);
}


#root .btn-primary img {
    filter: invert(1);
    width: auto;
    height: 30px;
    max-height: 30px;
}

#root .btn-primary:hover img {
    filter: invert(0);
}

#root .btn-primary:focus img {
    filter: invert(0);
}

#root .btn-primary:active img {
    filter: invert(0);
}