.root {
  padding-top: 40px;
}

.city {
  margin-bottom: 30px;
  border-radius: 6px;
  padding: 80px 20px 20px 20px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  height: 460px;
  position: relative;
}

.city__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  position: absolute;
  width: calc(100% - 40px)
}

.city_add_wrapper .city {
  background: #62829e;
  transition: all .3s ease-in-out;
  position: relative;
}

.city_add_wrapper .city:hover {
  background: #fff;
  transition: all .3s ease-in-out;
}

.city_add {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.city_add_wrapper .city_add img {
  filter: invert(1);
  height: 50px;
}

.city_add_wrapper .city:hover .city_add img {
  filter: invert(0);
}

.city__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 30px;
}

.city__infoItem {
  display: flex;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
}

.city__infoItem img {
  margin-right: 5px;
}

.city__infoItem img {
  width: 20px;
  height: auto;
}

.city__btnGroup {
  display: flex;
  justify-content: space-between;
}



.calculateWrapper {
  display: flex;
  justify-content: center;
}


.root .calculate{
  min-width: 200px;
  font-size: 22px;
}


.modalWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 2;
}

.modalCloser {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #62829e;
}

.modal {
  position: relative;
  padding: 20px;
  background: #fff;
  height: 80%;
  width: 80%;
  color: #62829e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total {
  color: #62829e;
  font-size: 50px;
}